In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Manobala@30",
)

mycursor = mydb.cursor()

In [2]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE Employee_Database")

In [5]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="Manobala@30",
  database="Employee_Database"
)
dbse = mydb.cursor()
dbse.execute("CREATE TABLE Employee (EMPLOYEE_NAME VARCHAR(255),id INT,SALARY DOUBLE )")

In [6]:
dbse = mydb.cursor()

sql = "INSERT INTO Employee (EMPLOYEE_NAME , id , SALARY) VALUES (%s,%s,%s)"
val = [
    ('Akash' , '1' , '240000'),
    ('Sai' , '2' , '150000'),
    ('Ram' , '3' , '280000'),
    ('Ramya','4','180000'),
    ('Raghav','5','320000'),
    ('Zoya' , '6' , '210000'),
    ('Vicky' , '7' , '300000'),
    ('Max' , '8' , '280000'),
    ('Subiksha' , '9' , '380000'),
    ('Kayal' , '10' , '200000')
       
]

dbse.executemany(sql, val)

mydb.commit()

print(dbse.rowcount, "was inserted.")

10 was inserted.

In [8]:
mycursor = mydb.cursor()

mycursor.execute("SELECT EMPLOYEE_NAME,SALARY FROM Employee where SALARY = (select max(SALARY) from Employee)")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Subiksha', 380000.0)

In [12]:
mycursor = mydb.cursor()

mycursor.execute("SELECT EMPLOYEE_NAME,SALARY FROM Employee where SALARY = (select min(SALARY) from employee)")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Sai', 150000.0)

In [13]:
mycursor = mydb.cursor()

mycursor.execute("SELECT COUNT(*) from Employee")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(10,)

In [16]:
mycursor = mydb.cursor()

mycursor.execute("SELECT SUBSTRING(EMPLOYEE_NAME, 1, 3 ) FROM EMPLOYEE ")

myresult = mycursor.fetchone()

print(myresult)

('Aka',)