In [1]:
import json

In [17]:
json_data=[
     {'Student':"Akash",'age':19,'Fees_paid': True ,'CGPA':75.00},
     {'Student':"Rio",'age':11, 'Fees_paid':False,'CGPA':68.75},
     {'Student':"Zoya",'age':14,'Fees_paid':True,'CGPA':78.50},
     {'Student':"Yazh",'age':13,'Fees_paid':True,'CGPA':68.25},
     {'Student':"Rakki",'age':21,'Fees_paid':True,'CGPA':72.65},
     {'Student':"Amit",'age':17,'Fees_paid':True,'CGPA':67.35}
    
]

In [18]:
json_string =json.dumps(json_data)

In [8]:
import mysql.connector

In [9]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=" "
)

In [11]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE Student_JSONRECORDS")

In [14]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="Manobala@30",
  database="Student_JSONRECORDS"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE Student (Student VARCHAR(255),age INT, Fees_paid VARCHAR(255), CGPA DOUBLE)")

In [20]:
dbse = mydb.cursor()
sql = "INSERT INTO employee (Student,age,Fees_paid,CGPA) VALUES (%s,%S,%S,%S)"
value=(for i in res: res[i])
                         
dbse.execute( sql, value)

print("Sucessfully inserted json files to DB")

Sucessfully inserted json files to DB